#home-page
	.container
		section#about-us.row.container
			.row
				.col-sm-12
					h2.title About Us
					h3 We are a Houston based, family owned and operated business. We bring the samples to the comfort of your home. We like making it easy for you to pick from all the different options of shades and controls. We would love to help you bring your project to life.
	.container.white-container
		section#coupons.row.container.hidden-xs
			h2.title Spend & Save
			.row.coupons
				.col-sm-3.save
					| SAVE
					| 15%
					p.details
						| WHEN YOU
						br
						| SPEND $1,000
				.col-sm-3.save
					| SAVE
					| 20%
					p.details
						| WHEN YOU
						br
						| SPEND $2,000
				.col-sm-3.save
					| SAVE
					| 25%
					p.details
						| WHEN YOU
						br
						| SPEND $4,000
				.col-sm-3.save
					| SAVE
					| 30%
					p.details
						| WHEN YOU
						br
						| SPEND $8,000
			.row
				.col-sm-12
					| Offer is not valid with other discounts. Not valid with prior purchases.
		section#faq.row.container.hidden-xs
			h2.title FAQ
		section#questions.row.container.hidden-xs
			.question-item
				h3.inline-header Do you serve my area?
				p
					| We serve the Greater Houston area including the cities of Cypress, Spring, Tomball, The Woodlands, Magnolia, Montgomery, Humble, Katy, Sugar Land, Pearland, Missouri City, League City.
			.question-item
				h3.inline-header Do you also have manual shades?
				p
					| Yes, all the products are available in manual systems like cordless, continuous cord, retractable cord and more.
			.question-item
				h3.inline-header What is the best product to darken my room?
				p
					| Cellular Shades have the smallest deductions, and have room darkening fabrics. Roman Shades are also a good option to darken your room.
			.question-item
				h3.inline-header I would like to control my shades with my phone, is that possible?
				p
					| Yes, Hunter Douglas has an app you can download that combined with the PowerView Hub allows you to control Hunter Douglas shades from your phone.
			.question-item
				h3.inline-header I like you, how do we get started?
				p
					| You can call us at 555-555-5555 or you can fill out our 
					a(data-toggle='modal', href='#contact-us-footer', onclick="_gaq.push(['_trackEvent', 'Contact Us', 'Contatct Form Button', 'Main Menu']);") contact form
					|  to make your appointment.