.container
	.row
		.col-sm-12
			p.thank-you-check.text-center
				i.glyphicon.glyphicon-5x.glyphicon-check-circle-o
			h1.text-center Thank you for contacting us!
			p.text-center We will contact you within the next busines day to schedule your Free In-Home Estimate.